@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #1e293b;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

.logo-icon:hover .logo-smile {
  d: path('M 12 28 Q 25 40 38 28');
  transition: all 0.3s ease;
}
